<launch>
  <!-- 1) 추적 노드 실행 -->
  <node name="mctrack_tracker_node"
        pkg="mctrack_tracker"
        type="mctrack_tracker_node.py"
        output="screen"
        respawn="false"
        cwd="node" />

  <!-- 2) 비쥬얼라이저 노드 실행 -->
  <node name="mctrack_visualizer_node"
        pkg="mctrack_tracker"
        type="visualization_node.py"
        output="screen"
        respawn="false"
        cwd="node" />

  <!-- 3) 추가로 필요한 TF 브로드캐스터나 파라미터 있으면 여기에 -->
</launch>

